* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    border: border-box;
}

h1 {
    font-size: 50px;
}

.cover-container {
    color: rgb(251, 252, 252);
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cov-part {}

.button {
    color: aliceblue;
    background-color: rgb(231, 71, 23);
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15%;
    font-weight: 500;

}